.robot-back {
  background-image: url("https://robohash.org/Little%20Robot%20World");
  background-repeat: no-repeat;
  background-position: right center;
  height: 500px;

}
.top-filler{
  height: 100px;
}

.bigger-robot-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.robot-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.robot-font-bold {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.robot-font-med {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
