.robot-back {
  background-image: url("https://robohash.org/Little%20Robot%20World");
  background-repeat: no-repeat;
  background-position: right center;
  height: 500px;

}
.top-filler{
  height: 100px;
}

.bigger-robot-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 2em;
}

.robot-font {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

.robot-font-bold {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.background-orange {
  background-color: #FFCC66;
}

.background-white {
  background-color: white;
}

.background-stats {
  background-image: url("/robot_stats.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.robot-font-med {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
.robot-font-125 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.25em;
}

.imageborder
{
  border: 2px solid black;
}
.divide-bottom {
  border-bottom: 2px solid #d5d5d5;
}
.divide-bottom-black {
  border-bottom: 2px solid black;
}
