<div class="top-filler">
</div>

<div class="jumbotron robot-back">
  <h1>Welcome to (little) Robot World!!!</h1>
  <p>Here you can create fun robots or browse robots that are already around in our world.</p>
  <p><a class="btn btn-primary btn-lg" href="robots/new" role="button">Create a new robot(a)</a>     <a class="btn btn-primary btn-lg" href="/robots" role="button">See pre-existing robots</a>   <a class="btn btn-primary btn-lg" href="/stats" role="button">World statistics</a></p>

</div>
</div>
